.banner-bg-img1 {
  background: url(https://cdn.shopify.com/s/files/1/1485/6894/files/home5_bg1.jpg?v=1514625150);
  height: 34rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem 1.5rem 1rem;
}

.banner-bg-img2 {
  background: url(https://cdn.shopify.com/s/files/1/1485/6894/files/home5_bg2.jpg?v=1514625158);
  height: 34rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem 1.5rem 1rem;
}

.banner-bg-img3 {
  background: url(https://cdn.shopify.com/s/files/1/1485/6894/files/home5_bg3.jpg?v=1514625166);
  height: 34rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem 1.5rem 1rem;
}

.banner_content_container {
  text-align: center;
  padding-top: 6rem;
}

@media screen and (max-width: 900px) {
  .banner-bg-img1 {
    height: 25rem;
  }

  .banner-bg-img2 {
    height: 25rem;
  }

  .banner-bg-img3 {
    height: 25rem;
  }
}

@media screen and (max-width: 600px) {
  .banner-bg-img1 {
    height: 19rem;
  }

  .banner-bg-img2 {
    height: 19rem;
  }
  .banner-bg-img3 {
    height: 19rem;
  }
}

@media screen and (max-width: 500px) {
  .banner-bg-img1 {
    height: 16rem;
  }

  .banner-bg-img2 {
    height: 16rem;
  }
  .banner-bg-img3 {
    height: 16rem;
  }
}

@media screen and (max-width: 430px) {
  .banner-bg-img1 {
    height: 12rem;
  }

  .banner-bg-img2 {
    height: 12rem;
  }
  .banner-bg-img3 {
    height: 12rem;
  }
}
