.homepage_banner_container {
  height: 85vh;
  background: url(https://cdn.shopify.com/s/files/1/1485/6894/files/home5_bg1.jpg?v=1514625150);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 1.5rem;
}

.banner_content_container {
  text-align: center;
  padding-top: 6rem;
}
