.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 7rem;
  column-gap: 1rem;
  margin-bottom: 7rem;
}

.card_custom_width {
  width: 18rem;
}

.custom_btn {
  background-color: var(--plant-pri-clr);
  width: 93%;
}

.pri_clr {
  color: var(--text-sec-dark);
}

.sec_clr {
  color: var(--text-secondary);
}

.verticalcard-wishlist-icon-clr {
  color: var(--custom-sec-clr);
}

.verticalcard-wishlist-icon-select-clr {
  color: var(--red);
}

.rating-num {
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-right: 12px;
}

@media screen and (max-width: 250px) {
  .card_container {
    flex-direction: column;
  }
}
