.justify-cont-center {
  justify-content: center;
}

.profile-page-container {
  width: 23rem;
  padding: 2rem;
  border: 1px solid var(--custom-pri-clr);
}

.btn-small {
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  outline: none;
}

.mt-1 {
  margin-top: 1rem;
}

.select-img-icon {
  position: absolute;
  bottom: 0.2rem;
  right: 6.7rem;
  font-size: 1.2rem;
  color: var(--custom-dark-clr);
}

.object-fit-cover {
  object-fit: cover;
}

.word-wrap {
  word-wrap: break-word;
}
