.justify-cont-center {
  justify-content: center;
}

.profile-page-container {
  padding: 2rem;
  margin-top: 4rem;
  border: 1px solid var(--custom-pri-clr);
}

.btn-small {
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  outline: none;
}
