.singleproductpage-container {
  width: 100%;
  padding: 4rem;
}

.singleproductpage-img-container {
  width: 29%;
}

.singleproductpage-info-container {
  width: 71%;
}

.singleProduct-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.para-price {
  font-size: 1.2rem;
  color: var(--plant-pri-clr);
}
