.cart_payment_receipt {
  width: 30%;
  height: fit-content;
}

.cart_pricedetails_section {
  justify-content: space-between;
  align-items: center;
}

.cart_pricedetails_section_gap {
  padding: 1rem 1.6rem 1rem;
}

@media screen and (max-width: 900px) {
  .cart_payment_receipt {
    width: 50%;
  }
}
