.footer_list_items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 4rem 0;
  background-color: var(--plant-pri-clr);
  color: var(--light-clr);
}
