.homepage_categories {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "one two";
  margin: 3rem 1.5rem;
}

.plant_img {
  width: 100%;
}

.categories_img_container {
  position: relative;
}

.categories_img_title {
  font-size: 2.3rem;
  color: var(--black-clr);
}

.categories_img_subtitle_plant {
  margin: 0.625rem 0 0 1.563rem;
}

.info {
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  position: absolute;
}

.info-bestselling {
  left: 40%;
}

@media screen and (max-width: 900px) {
  .categories_img_title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .categories_img_title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .categories_img_title {
    font-size: 1.2rem;
  }
}
