:root {
  --plant-pri-clr: #557669;
  --plant-pri-light-clr: #94b49f;

  --plant-sec-clr: #556052;

  --black-clr: black;
  --dark-blue: blue;

  --background: white;
  --text-primary: var(--gray-shade2);
  --text-secondary: var(--gray-shade3);
  --text-sec-dark: var(--plant-sec-clr);
  --plant-sec-light-clr: var(--secondary-clr);
  --light-gray-border-clr: #dfdfde;
}

html {
  font-size: 100%;
}

[data-theme="dark"] {
  --background: var(--ecommerce-btn-clr);
  --text-primary: white;
  --plant-sec-light-clr: white;
  --text-secondary: white;
  --text-sec-dark: white;
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 75%;
  }
}
