.justify-content-around {
  justify-content: space-around;
}

.checkout-details-container {
  width: 50%;
}

.light-border {
  border: 1px solid var(--custom-sec-clr);
}

.lightest-border {
  border: 1px solid var(--light-gray-border-clr);
}

.font-bold {
  font-weight: 600;
}

.gap-small {
  gap: 6px;
}

.coupon-code-input {
  padding: 8px;
  border-radius: 3px;
  width: 10rem;
}

.border-radius {
  border-radius: 4px;
}

.bg-pri-clr {
  background-color: var(--plant-pri-clr);
}

.small-btn-size {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
}
